.container-jogos {
  margin: 0 20%;
  left: 20px;
  right: 20px;
  width: 60%;
}

.jogos-lista {
    display: flex;
    flex-direction: column;
}

.jogo {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.jogo-titulo {
    font-size: large;
}

.jogo-body {
    font-size: small;
}