@import url(styles/reset.css);

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right bottom, #7e07de, #000000);
  height: 200px;
}

.menu-area {
  display: flex;
  justify-content: space-between;
  background-color: #7e07de;
}

.menu-area ul {
  display: flex;
}

.menu-area ul li {
  position: relative;
  text-align: center;
  color: #eeeeee;
  text-transform: uppercase;
  font-weight: bold;
}

.menu-area a,
.menu-area span {
  text-transform: uppercase;
  font-weight: bold;
  color: #eeeeee;
  padding: 0.5em 0.75em;
  display: block;
}

.loginMenu .dropdownLogin {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 45px;
  right: -1px;
}

.loginMenu .dropdownLogin li {
  display: none;
}

.loginMenu:hover .dropdownLogin li {
  display: flex;
  justify-content: center;
  align-content: center;
}

.item-menu {
  border-top: 0;
  border-bottom: 0;
  border: #6505b3 solid 1px;
  padding: 5px;
  background-color: #7e07de;
}

.item-menu:hover {
  background-color: #5d05a6;
}

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input img {
  height: 12px;
}

.search-input-box {
  border: 0;
  border-radius: 5px;
  padding: 0.5em;
  background-color: #7e07de;
}

.search-input-box::placeholder {
  color: #eeeeee;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 20px 10%;
  left: 40px;
  right: 40px;
  width: 80%;
}

.main-container ul {
  list-style-type: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 10px;
  padding: 1em;
  border-top: 1px solid #888888;
}

footer h4 {
  color: #555555;
}

.mapa-site {
  display: flex;
  flex-direction: column;
}

.mapa-site a {
  font-size: smaller;
  color: #888888;
}

.lista-itens-site {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
}

.lista-redes-sociais {
  display: flex;
}

.lista-redes-sociais img {
  margin: 5px;
  height: 30px;
  width: auto;
}

.lista-header {
  padding: 20px;
}

.item-lista {
  display: flex;
  padding: 20px;
}

.item-lista-border {
  border-top: 1px solid #888888;
}

.item-lista-imagem {
  width: 30%;
  padding-right: 20px;
}

.item-lista-imagem img {
  height: auto;
  width: 100%;
}

.item-lista-conteudo {
  width: 70%;
}

.item-lista-conteudo a {
  color: #555555;
  text-decoration: underline;
}

.item-lista-conteudo p {
  color: #888888;
}

.item-lista-conteudo-alone {
  width: 100%;
}

.comentarios-header {
  padding: 20px;
}

.comentario {
  display: flex;
  padding: 20px;
  border-top: 1px solid #888888;
  background: linear-gradient(to right bottom, #ffffff, #eeeeee);
}

.comentario p {
  width: 80%;
}

img:hover {
  transform: scale(0.95);
}

.comentario h4 {
  color: #555555;
  padding-right: 20px;
}

.comentario p {
  color: #888888;
  text-decoration: underline;
}

.sobre {
  padding: 20px;
}

.sobre div {
  padding: 10px;
  border-bottom: 1px solid #888888;
}

.sobre h2 {
  text-decoration: underline;
  margin: 10px 0;
}

.sobre p {
  color: #555555;
}

.login-section {
  display: none;
}

.login-section h2,
.contato-section h2 {
  text-decoration: underline;
  margin-bottom: 10px;
}

#login:target,
#registro:target,
.contato-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login:target,
#registro:target {
  margin: 0 25%;
  width: 50%;
}

.contato-section {
  margin: 0 15%;
  width: 70%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #555555;
  padding: 10px;
}

.dado-usuario,
.contato {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.dado-usuario label,
.contato label {
  width: 20%;
  padding-right: 0.5em;
}

.contato select,
.contato #assunto,
input {
  border: 1px solid #7e07de;
  padding: 0.5em;
  width: 70%;
  margin-left: 0.25em;
}

.contato select {
  width: 73.75%;
}

button {
  margin-top: 10px;
  background-color: #7e07de;
  color: #dddddd;
}

.loggedin-container {
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {
  .menu-area {
    flex-direction: column;
  }

  .menu-area .left-menu,
  .menu-area .right-menu {
    flex-direction: column;
  }

  .loginMenu .dropdownLogin {
    top: 45px;
  }
}
