@import url(styles/reset.css);

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right bottom, #7e07de, #000000);
  height: 200px;
}

.menu-area {
  display: flex;
  justify-content: space-between;
  background-color: #7e07de;
}

.menu-area a {
  text-transform: uppercase;
  font-weight: bold;
  color: #eeeeee;
}

.menu-area ul {
  display: flex;
}

.menu-area ul li {
  position: relative;
  text-align: center;
  color: #eeeeee;
  text-transform: uppercase;
  font-weight: bold;
}

.loginMenu .dropdownLogin {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 29px;
  right: -1px;
}

.loginMenu .dropdownLogin li {
  display: none;
}

.loginMenu:hover .dropdownLogin li {
  display: flex;
  justify-content: center;
  align-content: center;
}

.item-menu {
  border-top: 0;
  border-bottom: 0;
  border: #6505b3 solid 1px;
  padding: 5px;
  background-color: #7e07de;
}

.item-menu:hover {
  background-color: #5d05a6;
}

.search-input img {
  height: 12px;
}

.search-input-box {
  border: 0;
  border-radius: 5px;
  padding: 0px;
  background-color: #7e07de;
  color: #aaaaaa;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 20px 10%;
  left: 40px;
  right: 40px;
  width: 80%;
}

.main-container ul {
  list-style-type: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 10px;
  padding-top: 20px;
  border-top: 1px solid #888888;
}

footer h4 {
  color: #555555;
}

.mapa-site {
  display: flex;
  flex-direction: column;
}

.mapa-site a {
  font-size: smaller;
  color: #888888;
}

.lista-itens-site {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
}

.lista-redes-sociais {
  display: flex;
  list-style: none;
}

.lista-redes-sociais img {
  margin: 5px;
  height: 30px;
  width: auto;
}
