.destaque {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.destaque-imagem {
  width: 30%;
  padding-right: 20px;
}

.destaque-imagem img {
  height: auto;
  width: 100%;
}

.destaque-conteudo {
  width: 70%;
}

.destaque-conteudo a {
  color: #555555;
  text-decoration: underline;
}

.destaque-conteudo p {
  color: #888888;
}

.destaque-conteudo-alone {
  width: 100%;
}

.comentarios-header {
  padding: 20px;
}

.comentario {
  display: flex;
  padding: 20px;
  border-top: 1px solid #888888;
  background: linear-gradient(to right bottom, #ffffff, #eeeeee);
}

.comentario h4 {
  color: #555555;
  padding-right: 20px;
}

.comentario p {
  color: #888888;
  text-decoration: underline;
}