.jogos-header {
  padding: 20px;
}

.jogo {
  display: flex;
  padding: 20px;
  border-top: 1px solid #888888;
}

.jogo .jogo-imagem {
  width: 30%;
  padding-right: 20px;
}

.jogo .jogo-imagem img {
  height: auto;
  width: 100%;
}

.jogo .jogo-conteudo {
  width: 70%;
}

.jogo .jogo-conteudo a {
  color: #555555;
  text-decoration: underline;
}

.jogo .jogo-conteudo p {
  color: #888888;
}
