.main-section {
    display: none;
}

#login:target, #registro:target {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #555555;
    padding: 10px;
}

.dado-usuario {
    display: flex;
    align-content: flex-end;
    align-items: center;
    padding-bottom: 5px;
}

label {
    width: 50px;
}

input {
    border: 1px solid #7e07de;
    margin: 0 5px;
    padding: 5px 5px;
}

button {
    margin-top: 10px;
    background-color: #7e07de;
    color: #dddddd;
}
