.noticias-header {
    padding: 20px;
}
  
.noticia {
    display: flex;
    padding: 20px;
    border-top: 1px solid #888888;
}

.noticia .noticia-imagem {
    width: 30%;
    padding-right: 20px;
}

.noticia .noticia-imagem img {
    height: auto;
    width: 100%;
}

.noticia .noticia-conteudo {
    width: 70%;
}

.noticia .noticia-conteudo a {
    color: #555555;
    text-decoration: underline;
}

.noticia .noticia-conteudo p {
    color: #888888;
}

